html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#gridWrapper {
  position: relative;
  width: 100vw;
  flex: 1;
}


#scrollBox {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  /* position: absolute; */
}


#spacer {
  position: absolute;
  top: 0;
  left: 0;
}


#gridCanvas {
  position: sticky;
  top: 0;
  left: 0;
  display: block;
  background: #ffffff;
}

